.products {
    border: 0px solid;
    box-shadow: 1px 2px 5px grey;
    margin-top: 10px;


}

.card {
    background-color: #f5f5f6;
}

.footer {
    background-color: #1976D2;
}

.table1 {
    /* box-shadow: 1px 2px 8px grey; */
    padding: 20px !important;
}


#root {
    background-color: #f7f7f7;
}

/* bebec1 */


@media (max-width: 600px) {
    .mobile {
        display: flex;
        justify-content: space-between;
        width: 100vw;
    }
}

@media (min-width: 601px) {
    .mobile {
        /* display: flex; */
        /* justify-content: space-between; */
        /* width: 100vw; */
        display: none;
    }
}

/* ced0e5 */